on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: 'Print working directory'
        run: pwd

      - name: 'Print name'
        run: echo mohamed

      
      - name: 'List files'
        run: ls -la

